# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# macos
.DS_Store

# IDE artifacts (should be in ~/.gitignore_global instead)
.envrc
.idea/
.vscode/
*.swp

# Ignore cmake and cget build artifacts
CMakeCache.txt
CMakeFiles/
cget/

# Ignore nextflow artifacts
*.nextflow.log*
.nextflow/
.nextflow.pid
bin/
data/
work/
result/
*.html
*.tsv*
*.log

# Experiments with nextflow DSL
workflows/experiments
scratch.nf
