*.pyc
.DS_Store
.envrc
.idea/
.vscode/
autocomplete_strings.txt
cache_dir/
exac*.log
gene_cache/
instance/
misc/
static/.DS_Store
static/tablesorter-master

# Ignore cmake and cget build artifacts
CMakeCache.txt
CMakeFiles/
cget/

# Ignore nextflow artifacts
*.nextflow.log*
.nextflow/
bin/
data/
work/
result/

# Ignore old prod config data
crams.subset2.txt

# Experiments with nextflow DSL
workflows/experiments
