params {
  // Executeables and scripts
  // Use name of exec if in PATH or is symlinked in bin/ of this pipeline
  samtools = "samtools"
  aggregate = "aggregate.py"
  prune = "prune.py"

  // Inputs
  reference_path = "data/ref/hs38DH.fa"

  // Glob of cram files assumes filename format ID.*.cram
  cram_files = "data/crams/*.cram"

  // Settings
  chromosomes = ["chr11"]
  prune_limits = [1.00, 25e-2, 50e-2, 75e-2]
}

process {
 
}

executor {
  $slurm {
    queueSize = 1000
    jobName = { "bravo_coverage" }
  }

  $local {
    cpus = 3 
   }
}

// To run on cluster use: nextflow run Coverage.nf -profile slurm
profiles {
  standard {
    process.executor = 'local'
  }

  slurm {
    process.excutor = 'slurm'
    process.queue = "topmed"
    process.cpus = 1
    process.memory = "8 GB"
    process.time = "14d"
  }
}
