params {

  // Inputs
  reference_path = "data/ref/hs38DH.fa"

  // Glob of cram files assumes filename format ID.*.cram
  cram_files = "data/crams/*.cram"

  // Settings
  chromosomes = ["chr11"]
  prune_limits = [1.00, 0.25, 0.50, 0.75]
}

process {
 
}

executor {
  $slurm {
    queueSize = 1000
    jobName = { "bravo_coverage" }
  }

  $local {
    cpus = 3 
   }
}

// To run on cluster use: nextflow run Coverage.nf -profile slurm
profiles {
  standard {
    process.executor = 'local'
  }

  slurm {
    process.executor = 'slurm'
    process.queue = "bravo"
    process.cpus = 1
    process.memory = "8 GB"
    process.time = "14d"
    process.module = ['htslib','samtools', 'bam_util', 'data_prep']
  }
}
