params {
   vcfs_list_path = "/net/topmed/working/dtaliun/bravo_release_8/New_DataPrep/test_topmed2/vcfs.list"
   //vcfs_list_path = "/net/topmed/working/dtaliun/bravo_release_8/New_DataPrep/test_topmed2/vcfs.list2"
   crams_list_path = "/net/topmed/working/dtaliun/bravo_release_8/New_DataPrep/test_topmed2/crams.subset2.txt"
   reference_path = "/data/local/ref/gotcloud.ref/hg38/hs38DH.fa"
   
   random {
      exec = "/net/topmed/working/dtaliun/bravo_release_8/New_DataPrep/cget/bin/RandomHetHom3"
      seed = 8123
      max_hethom = 5
   }

   sequences {
      exec = "/net/topmed/working/dtaliun/bravo_release_8/New_DataPrep/cget/bin/Crams2"   
      window = 100
   }

   samtools {
      exec = "samtools"
      max_mem = "2G"
   }
}

process {
// uncomment "slurm" when running on SLURM cluster. Change "queue" as needed. 
   executor = "slurm"
//   executor = "local"

// specify when using SLURM
   queue = "topmed"
   cpus = 1
   memory = "3 GB"
   time = "14d"
}

executor {
   $slurm {
      queueSize = 2000
      jobName = { "bravo_seq" }
   }
//   $local {
//      cpus = 10 // set number of CPUs to use when running on a single machine
//   }
}
