params {
  // Required input data
  vcfs_path = "data/chr11.subset.bcf"
  reference_path = "data/ref/hs38DH.fa"

  // Glob of cram files assumes filename format ID.*.cram
  cram_files = "data/crams/*.cram"

  // Optional input data
  // Use NO_FILE to indicate the optional samples list is not being used.
  samples_path = "NO_FILE"
   
  random {
     exec = "RandomHetHom"
     seed = 8123
     max_hethom = 5
  }

  sequences {
     script_path = "bin/prepare_sequences.py"
     window = 100
  }

  samtools {
     exec = "samtools"
     max_mem = "8G"
  }
}

process {
  // SLURM settings
  queue = "nomosix"
  memory = "8 GB"
  time = "14d"
}

// To run on cluster use: 
//    nextflow run Sequences.nf -profile slurm
executor {
  $slurm {
    queueSize = 1000
    jobName = { "bravo_seq" }
  }

  $local {
    cpus = 3 // set number of CPUs to use when running on a single machine
  }
}

profiles {
  standard {
    process.executor = 'local'
  }

  slurm {
    process.excutor = 'slurm'
  }
}
