params {
   aggregate = "/net/topmed/working/dtaliun/teddy_release_1/bravo_1.0/data/DataPrep/cget/bin/ComputeAlleleCountsAndHistograms"
   qc_metrics = "ABE ABZ BQZ CYZ FIBC_I FIBC_P HWE_SLP_I HWE_SLP_P IOR NM0 NM1 NMZ STZ SVM"
   samples_path = "/net/topmed/working/dtaliun/teddy_release_1/samples.txt"
   vcfs_path = "/net/topmed/working/dtaliun/teddy_release_1/raw_data/full/chr{1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,X}/*.bcf"

   vep {
      vep = "/net/wonderland/home/dtaliun/VEP/ensembl-vep/vep"
      flags = "--sift b --polyphen b --ccds --uniprot --hgvs --symbol --numbers --domains --regulatory --canonical --protein --biotype --af --af_1kg --af_esp --af_gnomad --pubmed --shift_hgvs 0 --allele_number --buffer_size 50000"
      loftee_path = "/net/topmed/working/dtaliun/bravo_release_8/loftee"
      loftee_human_ancestor_fa="/net/topmed/working/dtaliun/bravo_release_8/loftee_data/human_ancestor.fa.gz"
      loftee_conservation_file="/net/topmed/working/dtaliun/bravo_release_8/loftee_data/loftee.sql"
      loftee_gerp_bigwig="/net/topmed/working/dtaliun/bravo_release_8/loftee_data/gerp_conservation_scores.homo_sapiens.GRCh38.bw"
   }

   cadd {
      exec = "python /net/topmed/working/dtaliun/teddy_release_1/bravo_1.0/data/add_cadd_scores.py"
      tsv_path = "/net/topmed/working/dtaliun/bravo_release_8/CADD/final/merged.*.sites.vcf.gz.cadd.tsv.gz"
   }

   percentiles {
      exec = "/net/topmed/working/dtaliun/teddy_release_1/bravo_1.0/data/DataPrep/cget/bin/ComputePercentiles"
      qc_metrics = ["ABE", "ABZ", "BQZ", "CYZ", "FIBC_I", "FIBC_P", "HWE_SLP_I", "HWE_SLP_P", "IOR", "NM0", "NM1", "NMZ", "STZ", "SVM", "QUAL"]
      
   }
}

process {
// uncomment "slurm" when running on SLURM cluster. Change "queue" as needed. 
//   executor = "slurm"
   executor = "local"

// specify when using SLURM
//   queue = "topmed"
//   cpus = 1
//   memory = "8 GB"
//   time = "14d"
}

executor {
//   $slurm {
//      queueSize = 1000
//      jobName = { "bravo_vcf" }
//   }
   $local {
      cpus = 100 // set number of CPUs to use when running on a single machine
   }
}
